.header {
  text-align: center;
  background-color: rgb(124, 124, 124);
  border-bottom: 4px solid black;
}
.header img {
  height: 50px;
}
.description:hover {
    color: rgb(166, 213, 214);
    cursor: pointer;
  }
  
.description {
  color: rgb(10, 10, 88);
}
